head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================
  // Document Title
  // ===============================================
  title Dashboard
  // ===============================================
  // Favicons
  // ===============================================
  link(rel='apple-touch-icon' sizes='180x180' href='../assets/img/illustrations/Dashboard-Icon.png')
  link(rel='shortcut icon' type='image/x-icon' href='../assets/img/illustrations/Dashboard-Icon.png')
  link(rel='manifest' href='../assets/img/favicons/manifest.json')
  meta(name='msapplication-TileImage' content='../assets/img/favicons/mstile-150x150.png')
  meta(name='theme-color' content='#ffffff')
  // ===============================================
  // Estilos de la plantilla
  // ===============================================
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900' rel='stylesheet')
  link(href='../assets/lib/jqvmap/jqvmap.min.css' rel='stylesheet')
  link(href='../assets/css/theme.css' rel='stylesheet')
// ===============================================
// Contenido
// ===============================================
main#top.main
  // añadir -fluid a container para pantalla completa
  .container-fluid
    nav.navbar.navbar-vertical.navbar-expand-lg.navbar-light.navbar-glass
      a.navbar-brand.text-left(href='/')
        .d-flex.align-items-center.text-primary.py-3
          .d-inline-flex.flex-center
            img.mr-2(src='../assets/img/illustrations/Dashboard-Icon.png' alt='' width='40')
            span.text-info Madrid
      // ===============================================
      // Menu lateral
      // ===============================================
      #navbarVerticalCollapse.collapse.navbar-collapse
        ul.navbar-nav.flex-column
          li.nav-item
            a.nav-link.dropdown-indicator(href='#home' data-toggle='collapse' role='button' aria-expanded='true' aria-controls='home')
              .d-flex.align-items-center
                span.nav-link-icon
                  span.fas.fa-chart-pie
                span Inicio
            // ===============================================
            // Categorias
            // ===============================================
            ul#home.nav.collapse.show(data-parent='#navbarVerticalCollapse')
              li.nav-item.active
                a.nav-link(href='/')
                  | Dashboard
                  span.badge.badge-soft-success.badge-pill.ml-2 selected
              li.nav-item
                a.nav-link(href='') Noticias
              li.nav-item
                a.nav-link(href='/eventos') Eventos
          // ===============================================
          // Servicios
          // ===============================================
          li.nav-item
            a.nav-link.dropdown-indicator(href='#servicios' data-toggle='collapse' role='button' aria-expanded='true' aria-controls='servicios')
              .d-flex.align-items-center
                span.nav-link-icon
                  span.fas.fa-exchange-alt
                span Servicios
            ul#servicios.nav.collapse.show(data-parent='#navbarVerticalCollapse')
              li.nav-item
                a.nav-link(href='/servicios/metro') Metro
              li.nav-item
                a.nav-link(href='/servicios/cercanias') Cercanias
              li.nav-item
                a.nav-link(href='/servicios/autobus') Autobus
              li.nav-item.active
                a.nav-link(href='/servicios/bicimad')
                  | BiciMad
                  span.badge.badge-soft-success.badge-pill.ml-2 selected
              li.nav-item
                a.nav-link(href='/servicios/vuelos') Vuelos
              li.nav-item
                a.nav-link(href='/servicios/uber') Uber
          // ===============================================
          // Fin Servicios
          // ===============================================
        hr.border-300.my-2
        ul.navbar-nav.flex-column
          li.nav-item
            a.nav-link.dropdown-indicator(href='#documentation' data-toggle='collapse' role='button' aria-expanded='false' aria-controls='documentation')
              .d-flex.align-items-center
                span.nav-link-icon
                  span.fas.fa-stream
                span Ciudades
                span.badge.badge-soft-warning.badge-pill.ml-2 W.I.P.
            // ===============================================
            // Ciudades
            // ===============================================
            ul#documentation.nav.collapse(data-parent='#navbarVerticalCollapse')
              li.nav-item
                a.nav-link(href='')
                  | Madrid
                  span.badge.badge-soft-success.badge-pill.ml-2 Selected
              li.nav-item
                a.nav-link(href='') Barcelona
        a.btn.btn-primary.btn-sm.m-3(href='/' target='_blank') Dashboard
    .content
      nav.navbar.navbar-light.navbar-glass.fs--1.font-weight-semi-bold.row.navbar-top.sticky-kit.navbar-expand
        button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#navbarVerticalCollapse' aria-controls='navbarVerticalCollapse' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        a.navbar-brand.text-left.ml-3(href='/')
          .d-flex.align-items-center.text-primary
            .d-inline-flex.flex-center
              img.mr-2(src='../assets/img/illustrations/Dashboard-Icon.png' alt='' width='40')
              span.text-info Madrid
        // ===============================================
        // inicio
        // ===============================================
        #navbarNavDropdown1.collapse.navbar-collapse.py-3
          ul.navbar-nav.align-items-center.d-none.d-lg-block
            li.nav-item
              // ===============================================
              // Fecha formato pc
              // ===============================================
              h5
                script(type='text/javascript').
                  function makeArray() {
                  for (i = 0; i<makeArray.arguments.length; i++)
                  this[i + 1] = makeArray.arguments[i];}
                  var months = new makeArray('Enero','Febrero','Marzo','Abril','Mayo',
                  'Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre');
                  function madeArray() {
                  for (i = 0; i<madeArray.arguments.length; i++)
                  this[i + 1] = madeArray.arguments[i];}
                  var weekday = new Array(7);
                  weekday[0] =  "Domingo";
                  weekday[1] = "Lunes";
                  weekday[2] = "Martes";
                  weekday[3] = "Miércoles";
                  weekday[4] = "Jueves";
                  weekday[5] = "Viernes";
                  weekday[6] = "Sábado";
                  var date = new Date();
                  var day = date.getDate();
                  var month = date.getMonth() + 1;
                  var days = date.getDay();
                  var yy = date.getYear();
                  var year = (yy < 1000) ? yy + 1900 : yy;
                  document.write( weekday[days] + ", " + day + " de " + months[month] + " de " + year);
          // ===============================================
          // Fecha formato movil
          // ===============================================
          .mostrarmovil
            ul.navbar-nav.align-items-center.ml-1.visible-xs
              li.nav-item.dropdown
                script(type='text/javascript').
                  var date = new Date();
                  var d  = date.getDate();
                  var day = (d < 10) ? '0' + d : d;
                  var m = date.getMonth() + 1;
                  var month = (m < 10) ? '0' + m : m;
                  var yy = date.getYear();
                  var year = (yy < 1000) ? yy + 1900 : yy;
                  document.write(day + "/" + month + "/" + year);
          // ===============================================
          // Reloj
          // ===============================================
          ul.navbar-nav.align-items-center.ml-auto
            li.nav-item.dropdown
              h5
                script(type='text/javascript').
                  function startTime(){
                  today=new Date();
                  h=today.getHours();
                  m=today.getMinutes();
                  s=today.getSeconds();
                  m=checkTime(m);
                  s=checkTime(s);
                  document.getElementById('reloj').innerHTML=h+":"+m+":"+s;
                  t=setTimeout('startTime()',500);}
                  function checkTime(i)
                  {if (i<10) {i="0" + i;}return i;}
                  window.onload=function(){startTime();}
                #reloj(style='font-size:20px;')
      div
        .container-fluid-sm-12
          .row
            .col
              .card.text-center(class='card text-center').py-3

                .card-body
                  .googlemap.min-vh-50(id="map", data-theme="Default")
                  script(type='text/javascript').
                    var map;
                    function initMap() {
                      map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: 40.4165000, lng: -3.7025600},
                        zoom: 10
                      });

                    }
                  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQXpPnTkWE4KUpN8VjQ-uZ1jhsawzA59Q&callback=initMap" )











      // ===============================================
      // Pie de pagina
      // ===============================================
      footer
        .row.no-gutters.justify-content-between.fs--1.mt-4.mb-3
          .col-12.col-sm-auto.text-center
            p.mb-0.text-600
              | Thank you for creating with Falcon 
              span.d-none.d-sm-inline-block | 
              br.d-sm-none
              |  2019 &copy; 
              a(href='../https://themewagon.com') Themewagon
          .col-12.col-sm-auto.text-center
            p.mb-0.text-600 v0.1.0
// ===============================================
// fin del contenido
// ===============================================
// ===============================================
// JavaScripts
// ===============================================
script(src='../assets/js/jquery.min.js')
script(src='../assets/js/popper.min.js')
script(src='../assets/js/bootstrap.js')
script(src='../assets/js/plugins.js')
script(src='../assets/lib/stickyfilljs/stickyfill.min.js')
script(src='../assets/lib/sticky-kit/sticky-kit.min.js')
script(src='../assets/lib/chart.js/Chart.min.js')
script(src='../assets/lib/jqvmap/jquery.vmap.js')
script(src='../assets/lib/jqvmap/maps/jquery.vmap.world.js' charset='utf-8')
script(src='../assets/js/theme.js')
script(src='../assets/lib/jqvmap/maps/jquery.vmap.usa.js' charset='utf-8')
