head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================
  // Document Title
  // ===============================================
  title Dashboard
  // ===============================================
  // Favicons
  // ===============================================
  link(rel='apple-touch-icon' sizes='180x180' href='/assets/img/logos/madrid-logo-transparent.png')
  link(rel='shortcut icon' type='image/x-icon' href='/assets/img/logos/madrid-logo-transparent.png')
  link(rel='manifest' href='../assets/img/favicons/manifest.json')
  meta(name='msapplication-TileImage' content='../assets/img/favicons/mstile-150x150.png')
  meta(name='theme-color' content='#ffffff')
  // ===============================================
  // Estilos de la plantilla
  // ===============================================
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900' rel='stylesheet')
  link(href='../assets/lib/jqvmap/jqvmap.min.css' rel='stylesheet')
  link(href='../assets/css/theme.css' rel='stylesheet')
  link(href='../assets/lib/datatables-bs4/dataTables.bootstrap4.min.css' rel='stylesheet')
  link(href='../assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.css' rel='stylesheet')
// ===============================================
// Contenido
// ===============================================
main#top.main
  // añadir -fluid a container para pantalla completa
  .container-fluid
    nav.navbar.navbar-vertical.navbar-expand-lg.navbar-light.navbar-glass
      a.navbar-brand.text-left(href='/')
        .d-flex.align-items-center.text-primary.py-3
          .d-inline-flex.flex-center
            img.mr-2(src='/assets/img/logos/madrid-logo-transparent.png' alt='' width='40')
            span.text-info Madrid
      // ===============================================
      // Menu lateral
      // ===============================================
      #navbarVerticalCollapse.collapse.navbar-collapse
        ul.navbar-nav.flex-column
          li.nav-item.active
            a.nav-link(href='/')
              span.nav-link-icon
                span.fas.fa-chart-line
              span  Dashboard
          li.nav-item
            a.nav-link.dropdown-indicator(href='#email' data-toggle='collapse' role='button' aria-expanded='false' aria-controls='email')
              .d-flex.align-items-center
                span.nav-link-icon
                  span.fas.fa-exchange-alt
                span Servicios
            // ===============================================
            // Servicios
            // ===============================================
      #navbarVerticalCollapse.collapse.navbar-collapse
        ul.navbar-nav.flex-column
          li.nav-item.active
            a.nav-link(href='/')
              span.nav-link-icon
                span.fas.fa-chart-line
              span  Dashboard
              span.badge.badge-soft-success.badge-pill.ml-2 Selected
          li.nav-item
            a.nav-link.dropdown-indicator(href='#email' data-toggle='collapse' role='button' aria-expanded='false' aria-controls='email')
              .d-flex.align-items-center
                span.nav-link-icon
                  span.fas.fa-exchange-alt
                span Servicios
            // ===============================================
            // Servicios
            // ===============================================
            ul#email.nav(data-parent='#navbarVerticalCollapse')
              li.nav-item
                a.nav-link(href='metro-cercanias') Metro/Cercanias
              li.nav-item
                a.nav-link(href='autobus') Autobus
              li.nav-item
                a.nav-link(href='bicimad') BiciMad
              li.nav-item
                a.nav-link(href='vuelos') Vuelos
              li.nav-item
                a.nav-link(href='uber') Uber
    .content
      nav.navbar.navbar-light.navbar-glass.fs--1.font-weight-semi-bold.row.navbar-top.sticky-kit.navbar-expand
        button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#navbarVerticalCollapse' aria-controls='navbarVerticalCollapse' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        a.navbar-brand.text-left.ml-3(href='/')
          .d-flex.align-items-center.text-primary
            .d-inline-flex.flex-center
              div.d-none.d-sm-none.d-md-block
                img.mr-2(src='assets/img/logos/madrid-logo-transparent.png' alt='' width='50')
              span.text-info Madrid
        // ===============================================
        // inicio
        // ===============================================
        #navbarNavDropdown1.collapse.navbar-collapse.py-3
          ul.navbar-nav.align-items-center.d-none.d-lg-block
            li.nav-item
              // ===============================================
              // Fecha formato pc
              // ===============================================
              h5
                script(type='text/javascript').
                  function makeArray() {
                  for (i = 0; i<makeArray.arguments.length; i++)
                  this[i + 1] = makeArray.arguments[i];}
                  var months = new makeArray('Enero','Febrero','Marzo','Abril','Mayo',
                  'Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre');
                  function madeArray() {
                  for (i = 0; i<madeArray.arguments.length; i++)
                  this[i + 1] = madeArray.arguments[i];}
                  var weekday = new Array(7);
                  weekday[0] =  "Domingo";
                  weekday[1] = "Lunes";
                  weekday[2] = "Martes";
                  weekday[3] = "Miércoles";
                  weekday[4] = "Jueves";
                  weekday[5] = "Viernes";
                  weekday[6] = "Sábado";
                  var date = new Date();
                  var day = date.getDate();
                  var month = date.getMonth() + 1;
                  var days = date.getDay();
                  var yy = date.getYear();
                  var year = (yy < 1000) ? yy + 1900 : yy;
                  document.write( weekday[days] + ", " + day + " de " + months[month] + " de " + year);
          // ===============================================
          // Fecha formato movil
          // ===============================================
          .mostrarmovil
            ul.navbar-nav.align-items-center.ml-1.visible-xs
              li.nav-item.dropdown
                script(type='text/javascript').
                  var date = new Date();
                  var d  = date.getDate();
                  var day = (d < 10) ? '0' + d : d;
                  var m = date.getMonth() + 1;
                  var month = (m < 10) ? '0' + m : m;
                  var yy = date.getYear();
                  var year = (yy < 1000) ? yy + 1900 : yy;
                  document.write(day + "/" + month + "/" + year);
          // ===============================================
          // Reloj
          // ===============================================
          ul.navbar-nav.align-items-center.ml-auto
            li.nav-item.dropdown
              h5
                script(type='text/javascript').
                  function startTime(){
                  today=new Date();
                  h=today.getHours();
                  m=today.getMinutes();
                  s=today.getSeconds();
                  m=checkTime(m);
                  s=checkTime(s);
                  document.getElementById('reloj').innerHTML=h+":"+m+":"+s;
                  t=setTimeout('startTime()',500);}
                  function checkTime(i)
                  {if (i<10) {i="0" + i;}return i;}
                  window.onload=function(){startTime();}
                #reloj(style='font-size:20px;')
      div
        // Grid principal(Primera fila aeropuerto y tiempo)
        .container-fluid
          .row
            .col-sm-12.py-3
              .card.text-center.min-vh-100(class='card text-center' style='max-height:15rem')
                .card-body.col-xs-12(style='overflow-x:hidden')
                  .fancy-tab 
                    .nav-bar.nav-bar-center
                      .nav-bar-item.px-3.px-sm-4.active
                        span.fas.fa-plane-departure
                        .mt-1 Salidas
                      .nav-bar-item.px-3.px-sm-4
                        span.fas.fa-plane-arrival
                        .mt-1 Llegadas
                    .tab-contents(style='overflow-y:hidden;overflow-x:hidden')
                      .tab-content.active
                        table.table.table-sm.table-dashboard.data-table.responsive.display(style='width:100%;height:100%')
                          thead.bg-200
                            tr
                              th(scope='col') ID
                              th(scope='col') Aerolinea
                              th(scope='col') Destino
                              th(scope='col') Estado
                              th(scope='col') Terminal
                              th(scope='col') Hora
                          tbody.bg-white
                            each flight in flightDepJsons
                              if flight.estado == 'Cancelado'
                                tr.table-danger
                                  th(scope='row')= flight.id
                                  td= flight.aerolinea
                                  td= flight.destino
                                  td= flight.estado
                                  td= flight.terminal
                                  td= flight.horaSalida
                              else if flight.estado == 'Desconocido'
                                tr.table-warning
                                  th(scope='row')= flight.id
                                  td= flight.aerolinea
                                  td= flight.destino
                                  td= flight.estado
                                  td= flight.terminal
                                  td= flight.horaSalida
                              else if flight.estado == 'Programado'
                                tr.table-primary
                                  th(scope='row')= flight.id
                                  td= flight.aerolinea
                                  td= flight.destino
                                  td= flight.estado
                                  td= flight.terminal
                                  td= flight.horaSalida
                              else
                                tr
                                  th(scope='row')= flight.id
                                  td= flight.aerolinea
                                  td= flight.destino
                                  td= flight.estado
                                  td= flight.terminal
                                  td= flight.horaSalida         
                      .tab-content
                        table.table.table-sm.table-dashboard.data-table.responsive.display(style='width:100%')
                          thead.bg-200
                            tr
                              th(scope='col') ID
                              th(scope='col') Aerolinea
                              th(scope='col') Origen
                              th(scope='col') Estado
                              th(scope='col') Terminal
                              th(scope='col') Hora
                          tbody.bg-white
                            each flight in flightArrJsons
                              if flight.estado == 'Activo'
                                tr.table-primary
                                  th(scope='row')= flight.id
                                  td= flight.aerolinea
                                  td= flight.origen
                                  td= flight.estado
                                  td= flight.terminal
                                  td= flight.horaLlegada
                              else if flight.estado == 'Cancelado'
                                tr.table-danger
                                  th(scope='row')= flight.id
                                  td= flight.aerolinea
                                  td= flight.origen
                                  td= flight.estado
                                  td= flight.terminal
                                  td= flight.horaLlegada
                              else
                                tr
                                  th(scope='row')= flight.id
                                  td= flight.aerolinea
                                  td= flight.origen
                                  td= flight.estado
                                  td= flight.terminal
                                  td= flight.horaLlegada

// ===============================================
// fin del contenido
// ===============================================
// ===============================================
// JavaScripts
// ===============================================
script(src='../assets/js/jquery.min.js')
script(src='../assets/js/popper.min.js')
script(src='../assets/js/bootstrap.js')
script(src='../assets/js/plugins.js')
script(src='../assets/lib/stickyfilljs/stickyfill.min.js')
script(src='../assets/lib/sticky-kit/sticky-kit.min.js')
script(src='../assets/lib/chart.js/Chart.min.js')
script(src='../assets/lib/jqvmap/jquery.vmap.js')
script(src='../assets/lib/jqvmap/maps/jquery.vmap.world.js' charset='utf-8')
script(src='../assets/js/theme.js')
script(src='../assets/lib/jqvmap/maps/jquery.vmap.usa.js' charset='utf-8')
script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
script(src='//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
script(src='//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js')
script(src='//cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.js')
